# Ignore virtual environments
.venv/

# Ignore IDE configuration files
.idea/
__pycache__/

# Ignore data folders
data_of_grids/
data_of_initial_configurations/
grid_screenshots/
borderline_length/
informational_wave/
untouched_cells/

# Ignore other python files
main_test/
Cell/
Grid/

# Ignore the ideas
unfinished ideas/